<%= simple_form_for @video, html: { 
    data: { 
      controller: "direct-upload",
      direct_upload_target: "form",
      use_cloudinary: Rails.env.production?.to_s
    } 
  } do |f| %>
  
  <% if @video.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h4>
      <ul>
        <% @video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, collection: Video.categories.keys.map { |c| [c.titleize, c] } %>
    <%= f.input :position,
                hint: 'Lower numbers appear first (optional)',
                input_html: { min: 1 } %>
                
    <div class="mb-3">
      <%= f.label :video_file %>
      <%= f.input :video_file,
                  label: false,
                  as: :file,
                  input_html: {
                    accept: Video::VALID_VIDEO_TYPES.join(','),
                    data: { 
                      direct_upload_target: "input",
                      direct_upload_url: rails_direct_uploads_url
                    }
                  },
                  hint: "Maximum size: #{number_to_human_size(Video::MAX_VIDEO_SIZE)}. Formats: MP4, MOV, AVI" %>
      
      <div class="mt-2">
        <div class="progress">
          <div class="progress-bar" 
               role="progressbar" 
               data-direct-upload-target="progress" 
               style="width: 0%"></div>
        </div>
        <small data-direct-upload-target="status"></small>
      </div>
      
      <div data-direct-upload-target="preview" class="mt-3"></div>
    </div>
  </div>

  <div class="form-actions mt-4">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', videos_path, class: 'btn btn-secondary ms-2' %>
  </div>
<% end %>