<div class="container mt-4">
  <div class="row mb-4">
    <div class="col">
      <h1>Videos</h1>
    </div>
    <div class="col text-end">
      <%= link_to 'Upload New Video', new_video_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <%= simple_form_for :search, url: videos_path, method: :get do |f| %>
        <div class="input-group">
          <%= text_field_tag :query,
                            params[:query],
                            class: 'form-control',
                            placeholder: 'Search videos...' %>
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="btn-group" role="group">
        <%= link_to 'All',
                    videos_path,
                    class: "btn btn-#{params[:category].present? ? 'outline-' : ''}primary" %>

        <% Video.categories.keys.each do |category| %>
          <%= link_to category.titleize,
                      videos_path(category: category),
                      class: "btn btn-#{params[:category] == category ? '' : 'outline-'}primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row g-4">
    <% @videos.each do |video| %>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="ratio ratio-16x9">
            <% if video.video_file.attached? %>
              <video class="card-img-top" muted>
                <source src="<%= url_for(video.video_file) %>" type="<%= video.video_file.content_type %>">
              </video>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= video.title %></h5>
            <p class="card-text"><%= truncate(video.description, length: 100) %></p>
            <span class="badge bg-primary"><%= video.category_name %></span>
          </div>
          <div class="card-footer bg-transparent">
            <%= link_to 'View', video_path(video), class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_video_path(video), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Delete',
                        video_path(video),
                        method: :delete,
                        data: { turbo_confirm: 'Are you sure?' },
                        class: 'btn btn-sm btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
