<div class="container mt-4">
  <div class="row mb-4">
    <div class="col">
      <h1>Videos</h1>
    </div>
    <div class="col text-end">
      <%= link_to 'Upload New Video', new_video_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <%= simple_form_for :search, url: videos_path, method: :get do |f| %>
        <div class="input-group">
          <%= text_field_tag :query,
                            params[:query],
                            class: 'form-control',
                            placeholder: 'Search videos...' %>
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="video-grid"
      data-controller="video-grid animate-grid"
      data-action="scroll@window->video-grid#handleScroll">

    <%= render 'shared/category_filters' %>

    <div class="row" data-video-grid-target="grid">
      <% @videos.each do |video| %>
        <div data-animate-grid-target="item" class="video-grid__item">
          <%= render 'videos/grid_item', video: video %>
        </div>
      <% end %>
    </div>
  </div>
 <!-- Updated modal HTML -->
  <div id="videoModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Video Player</h5>
        <span class="close-btn" onclick="document.getElementById('videoModal').style.display='none';">&times;</span>
      </div>
      <div class="modal-body">
        <!-- Video will be inserted here -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" onclick="document.getElementById('videoModal').style.display='none';">Close</button>
      </div>
    </div>
  </div>
</div>